@charset "utf-8";
/* *******************************************************
 * filename : content_responsive.css
 * description : 서브페이지 컨텐츠 반응형 CSS
******************************************************** */

/* ******************  서브공통 ********************** */
/* -------- 공통 스크롤바  -------- */
@media all and (max-width: 1220px) {
  .custom-scrollbar-wrapper .scroll-object {
    max-width: 100%;
  }
}
@media all and (max-width: 800px) {
  .custom-scrollbar-wrapper {
    position: relative; /* margin-right:-15px; */
    cursor: move;
  }
  .custom-scrollbar-wrapper .scroll-object {
    max-width: none;
    width: 800px;
  }
  .custom-scrollbar-cover {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .custom-scrollbar-cover .scroll-cover-txt {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 300;
    font-size: 15px;
  }
  .custom-scrollbar-cover .scroll-cover-txt i {
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
  }
}

/* -------- 공통 :: 탭 -------- */
@media all and (max-width: 1220px) {
  .sub-tab-list-style .area {
    padding: 0;
  }
  /* Tab Fixed Move*/
  .sub-tab-list-style.top-fixed {
    top: 80px;
  }
}
@media all and (max-width: 800px) {
  /* Tab 공통 스타일 */
  .sub-tab-wrapper-style,
  .sub-tab-list-style.top-fixed,
  .sub-tab-list-style ul li a {
    /* height: 40px; */
  }
  .sub-tab-list-style ul li a em {
    font-size: 13px;
  }
  /* Tab Fixed Move*/
  /* Mobile Tab Drop Menu */
  .sub-drop-menu-style {
    position: relative;
  }
  .sub-drop-open-btn-style {
    display: flex;
    position: relative;
    padding: 0 15px;
    height: 6rem;
    align-items: center;
    line-height: 40px;
    font-size: 15px;
    background-color: #f07000;
    box-sizing: border-box;
  }
  .sub-drop-open-btn-style span {
    color: #fff;
  }
  .sub-drop-open-btn-style .arrow {
    color: #fff;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -7px;
  }
  .sub-drop-open-btn-style.open .arrow {
    transform: rotate(180deg);
  }
  .sub-drop-menu-style ul {
    display: none;
    margin: 0;
    height: auto;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    z-index: 11;
    box-sizing: border-box;
  }
  .sub-drop-menu-style ul li {
    position: static;
    display: block;
    float: none;
    border: 0;
    border-top: 1px solid #eee;
    width: auto;
    background-color: transparent;
  }
  .sub-drop-menu-style ul li:first-child {
    border-top: 0; /* border-left:0 */
  }
  .sub-drop-menu-style ul li a {
    display: block;
    width: auto;
    height: auto !important;
    padding: 2.5rem 2rem;
    border: 0;
  }
  .sub-drop-menu-style ul li a em {
    font-size: 13px;
  }
  .sub-drop-menu-style ul li.selected a {
    background-color: transparent;
  }
  .sub-drop-menu-style ul li.selected a em {
    color: #f07000;
    font-weight: 600;
  }
}
@media all and (max-width: 480px) {
  /* Tab Fixed Move*/
  .sub-tab-list-style.top-fixed {
    top: 60px;
  }
}

/* ******************  COMPANY ********************** */
/* ----------------------- Greeting  ------------------------ */
@media all and (max-width: 800px) {
  .greeting-title {
    padding: 20px 0;
    background: none;
  }
  .greeting-txt {
    flex-wrap: wrap;
    justify-content: end;
  }
  .greeting-txt div img {
    width: 60%;
  }
}
@media all and (max-width: 480px) {
  .greeting-txt div img {
    width: 50%;
  }
}
/* ----------------------- Vision  ------------------------ */

@media all and (max-width: 1200px) {
  .vision-box {
    background-size: contain;
  }
  .vision-stitle-box {
    gap: 10px;
  }
  .vision-stitle {
    flex: 1 1 auto;
    width: 100%;
    height: auto;
    background-position: 50% 50px !important;
    border-radius: 0;
    text-align: left;
    justify-content: left;
    box-sizing: border-box;
    padding: 180px 30px 30px 30px;
  }
  .vision-stitle:nth-child(2) {
    margin: 0;
  }

  .vision-stitle h5 {
    padding: 0 0 15px 0;
  }
}
@media all and (max-width: 800px) {
  .vision-title {
    width: 75%;
    padding: 35px;
    box-sizing: border-box;
  }

  .vision-stitle-box {
    margin-top: 180px;
    flex-direction: column;
  }
  .vision-stitle {
    padding: 30px 30px 30px 22%;
    background-position: 7% 50% !important;
    background-size: 10% !important;
  }
}
@media all and (max-width: 580px) {
  .vision-title {
    width: 75%;
    padding: 25px;
    gap: 10px;
  }

  .vision-stitle h5 {
    padding: 0 0 10px 0;
  }
  .vision-stitle {
    background-size: 12% !important;
    line-height: 22px;
    padding: 20px 20px 20px 25%;
  }
}
@media all and (max-width: 480px) {
  .vision-title {
    width: 100%;
    padding: 25px;
  }
  .vision-stitle-box {
    margin-top: 25%;
  }
  .vision-stitle {
    background: rgba(0, 124, 198, 0.7);
    padding: 20px;
  }
  .vision-stitle:nth-child(2) {
    background: rgba(56, 0, 166, 0.7);
  }
  .vision-stitle:nth-child(3) {
    background: rgba(225, 6, 52, 0.7);
  }
}

/* ----------------------- history  ------------------------ */
@media all and (max-width: 1000px) {
  .history_content .month::before {
    width: 9px !important;
    top: 0.88em !important;
  }
}
/* ----------------------- Organization  ------------------------ */
@media all and (max-width: 800px) {
  .organ-box {
    background: none;
  }
  .organ-level1 {
    width: 100%;
    height: auto;
    gap: 10px;
    left: 0;
    background: #002978;
    margin-bottom: 10px;
    padding: 30px 0;
  }
  .organ-level2 {
    width: 100%;
    height: auto;
    gap: 10px;
    border-radius: 0;
    left: 0;
    margin-bottom: 10px;
    padding: 30px 0;
  }
  .organ-level3 {
    top: 0;
    gap: 10px;
    margin-bottom: 10px;
  }
  .organ-level3 > div {
    width: 50%;
    height: auto;
    border-radius: 0;
    padding: 25px 0;
  }
  .organ-level4 {
    margin-top: 0;
  }
  .organ-level4 > div {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 0;
    padding: 25px 0;
  }
  .organ-level4 li {
    padding: 110px 10px 30px;
    background-position: 50% 30px !important;
    background-size: 35% !important;
  }
}
@media all and (max-width: 480px) {
  .organ-level3 {
    flex-wrap: wrap;
  }
  .organ-level3 > div {
    width: 100%;
  }
  .organ-level4 ul {
    flex-direction: column;
  }
  .organ-level4 li {
    padding: 25px 20px 25px 30%;
    background-position: 10% 50% !important;
    background-size: 10% !important;
    text-align: left;
  }
}

@media all and (max-width: 1220px) {
  /* 공통레이아웃 :: 기본Parallax */
  .parallax-container:not(.parallax-fixed-container) {
    /* min-height:100vh; */
    height: auto;
  }
  .parallax-fixed-container {
    height: 100vh !important;
  }
  .parallax-fixed .parallax-container .bg {
    background-attachment: unset !important;
  }
  .parallax-container:not(.parallax-fixed-container).v-center {
    display: block;
  }

  /* 컨텐츠01 */
  #fieldContent1 .field-con01-inner .center-logo {
    transform: scale(0.8);
  }
  #fieldContent1 .field-con01-inner .center-logo .img-01 img {
    height: 600px;
  }
  #fieldContent1 .field-con01-inner p {
    font-size: 3.5rem;
  }

  /* 컨텐츠02~06 공통 */
  .field-sub-sec {
    padding-top: 80%;
    height: 0;
  }
  .field-sub-sec .area-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }
  .field-sub-sec .field-sec-inner {
    height: auto;
    position: static;
  }
  .field-sub-sec .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-size: cover !important;
    min-height: auto;
  }
  .field-sub-sec .bt-txt {
    bottom: 5rem;
    right: 15px;
  }
  .field-sub-sec .field-txt-box {
    padding-top: 7rem;
  }
  .field-sub-sec .field-txt-box .txt {
    margin-top: 5rem;
  }
  .field-sub-sec .scroll-con {
    display: none;
  }
  .field-sub-sec .field-dot {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    padding: 0 15px;
    position: relative;
    width: auto;
    height: auto;
  }
  .field-sub-sec .field-dot .dot-item {
    position: relative;
    top: auto !important;
    right: auto !important;
    width: 32.333%;
    margin-right: 1%;
    margin-bottom: 1%;
    max-width: 300px;
  }
  .field-sub-sec .field-dot .dot-item span {
    display: table;
    padding: 0 20px;
    height: 40px;
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
  }
  .field-sub-sec .field-dot .dot-item span b {
    display: table-cell;
    vertical-align: middle;
  }
  #fieldContent3.field-sub-sec .field-dot .dot-item.item-02 {
    padding-left: 0;
    right: auto !important;
  }
  #fieldContent4.field-sub-sec .field-dot .dot-item.item-02,
  #fieldContent6.field-sub-sec .field-dot .dot-item.item-01 {
    right: auto !important;
  }
  .field-sub-sec .field-dot .dot-item em {
    display: none;
  }
}
@media all and (max-width: 1024px) {
  /* 컨텐츠01 */
  #fieldContent1 .field-con01-inner .center-logo {
    top: -5rem;
  }
  #fieldContent1 .field-con01-inner .txt-wrap {
    position: relative;
    top: -9rem;
  }
  #fieldContent1 .field-con01-inner p {
    position: relative;
    top: auto;
    transform: translateY(0);
  }
  #fieldContent1 .field-con01-inner p.lf-txt {
    margin-right: 0.5rem;
  }
}
@media all and (max-width: 800px) {
  /* 컨텐츠01 */
  #fieldContent1 .field-con01-inner .center-logo {
    transform: scale(1, 1);
    top: auto;
    margin: -10% 0 -3%;
  }
  #fieldContent1 .field-con01-inner .center-logo .img-01 {
    width: 90%;
  }
  #fieldContent1 .field-con01-inner .center-logo .img-02 {
    width: 70%;
  }
  #fieldContent1 .field-con01-inner .center-logo .img-03 {
    width: 40%;
  }
  #fieldContent1 .field-con01-inner .center-logo span img {
    max-width: 100%;
  }
  #fieldContent1 .field-con01-inner .center-logo .img-01 img {
    height: auto;
  }
  #fieldContent1 .field-con01-inner .txt-wrap {
    top: auto;
  }
  #fieldContent1 .field-con01-inner p {
    font-size: 3rem;
  }

  /* 컨텐츠02~06 공통 */
  .field-sub-sec {
    padding-top: 0;
    height: auto;
  }
  .field-sub-sec .area-wrap {
    position: relative;
    padding-bottom: 45%;
  }
  .field-sub-sec .field-txt-box {
    padding-top: 5rem;
  }
  .field-sub-sec .field-txt-box .tit {
    font-size: 4.5rem;
  }
  .field-sub-sec .field-txt-box .txt {
    margin-top: 2rem;
    font-size: 1.6rem;
  }
  .field-sub-sec .bt-txt {
    bottom: 4rem;
    font-size: 1.5rem;
  }
  .field-sub-sec .field-dot {
    max-width: 400px;
    margin-top: 2.5rem;
  }
  .field-sub-sec .field-dot .dot-item {
    width: 49%;
    max-width: 150px;
    margin-bottom: 2%;
  }
  .field-sub-sec .field-dot .dot-item span {
    padding: 0 10px;
    height: 30px;
  }
}
@media all and (max-width: 480px) {
  /* 컨텐츠02~06 공통 */
  .field-sub-sec .field-txt-box .tit {
    font-size: 4rem;
  }
  .field-sub-sec .field-txt-box .txt br {
    display: none;
  }
  .field-sub-sec .bt-txt {
    display: none;
  }
  .field-sub-sec .field-dot {
    max-width: 150px;
  }
  .field-sub-sec .field-dot .dot-item {
    width: 100%;
    max-width: none;
    margin-bottom: 3%;
  }
}
/* ----------------------- Technical -------------------------- */
@media all and (max-width: 800px) {
  .technical-title {
    font-size: 2.2rem;
    line-height: 2.8rem;
    padding: 20px 10px;
    margin-bottom: rem;
    background: none;
  }
  .technical-title span {
    font-size: 3rem;
    line-height: 4rem;
  }
  .technical-form .img-area {
    display: none;
  }
  .technical-form {
    display: block;
  }
  .technical-form > div {
    padding: 20px;
  }
}
/* ----------------------- 사업장소개  ------------------------ */
@media all and (max-width: 1024px) {
  .location-info-wrap .info-txt dl dt {
    display: block;
    margin-right: 0px;
  }
  .location-info-wrap .info-txt dl dd {
    display: block;
  }
}
@media all and (max-width: 800px) {
  .location-info-wrap .info-tit {
    font-size: 20px;
  }
  .location-info-wrap .info-txt dl {
    font-size: 13px;
  }

  .location-info-wrap {
    /* width:calc(100% - 100px); right:50px; */
    width: 100%;
    top: -10rem;
    right: 0;
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
    padding: 15px 15px 10px;
  }
  .location-info-wrap .info-tit {
    margin-bottom: 10px;
  }
  .location-info-wrap .info-txt dl {
    margin-bottom: 5px;
  }
}

/* ******************  BUSINESS ********************** */
/* 탭 */
@media all and (min-width: 801px) {
  .business-page .sub-tab-list-style.top-fixed li,
  .energy-page .sub-tab-list-style.top-fixed li {
    border-top: 0;
    border-bottom: 0;
  }
}
@media all and (max-width: 800px) {
  .business-page .sub-tab-list-style.top-fixed li,
  .energy-page .sub-tab-list-style.top-fixed li {
    width: 100%;
  }
  .business-page .sub-drop-menu-style ul li,
  .energy-page .sub-drop-menu-style ul li {
    border-top: 1px solid #ddd;
  }

  .intro-top-box .txt-box.blue-box {
    padding: 2rem;
  }
  .intro-top-box .txt-box .txt.information {
    padding-left: 0;
    background: none;
  }
  .case-con-list li {
    height: 100px;
    min-width: 240px;
  }
  .table_scroll {
    position: relative;
    max-width: 100%;
    overflow-x: auto;
  }
  .table_scroll::before {
    display: block;
    position: absolute;
    left: calc(100vw - 90px);
    top: 35%;
    z-index: 30;
    content: "\e90e";
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    background-color: #fff;
    font-size: 30px;
    line-height: 52px;
    font-family: xeicon !important;
    text-align: center;
    animation-name: right_ani;
    animation-duration: 0.7s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
  }
  @keyframes right_ani {
    0% {
      left: calc(100vw - 70px);
    }
    100% {
      left: calc(100vw - 130px);
    }
  }
  .table_scroll img {
    min-width: 800px;
  }
  .table_scroll_acitve::before {
    display: none;
  }
}
@media all and (max-width: 400px) {
  .mom-box-wrap .mom-box {
    padding: 2rem;
  }
}
@media all and (max-width: 1430px) {
  .intro-top-box .tit-box .tit .quotes-up {
    left: -10px;
  }
  .intro-top-box .tit-box .tit .quotes-down {
    right: -10px;
  }
}
@media all and (max-width: 800px) {
  /* 공통타이틀 */
  .business-cm-tit .en-tit {
    margin-bottom: 3rem;
  }

  .intro-top-box .tit-box .tit .quotes-up {
    top: 25px;
  }
  .intro-top-box .tit-box .tit .quotes-down {
    bottom: 30px;
  }
  .intro-top-box .img-box.round {
    border-radius: 0;
  }
  .Evaluation-con-list {
    display: block;
  }
  .Evaluation-con-list li {
    margin-bottom: 3rem;
  }
}

@media all and (max-width: 1200px) {
  .roy-box-wrap {
    padding: 7rem 5rem;
  }
}

@media all and (max-width: 1024px) {
  /* 리스트 */
  .prd-list-con li {
    width: 33.333%;
  }
  .prd-list-con li:nth-child(4n) {
    border-right: 1px solid #e5e5e5;
  }
  .prd-list-con li:nth-child(3n) {
    border-right: 0;
  }
}
@media all and (max-width: 800px) {
  /* 검색바 */
  .bbs-top-list-box .board-search-box.style-02 {
    width: 300px;
  }
  .board-search-box.style-02 .board-search-inner {
    padding-right: 80px;
  }
  .board-search-box.style-02 .bbs-search-btn {
    width: 80px;
    font-size: 14px;
  }
  /* 리스트 */
  .prd-list-con li {
    width: 50%;
  }
  .prd-list-con li:nth-child(3n) {
    border-right: 1px solid #e5e5e5;
  }
  .prd-list-con li:nth-child(2n) {
    border-right: 0;
  }
  .prd-list-con li a {
    padding: 5.5rem 0 4rem;
  }
  .prd-list-con li a .more-btn {
    margin-top: 3rem;
  }
  .prd-list-con li a .cate-box {
    top: 1.5rem;
    left: 1.5rem;
  }
  /* 뷰페이지 */
  .prd-view-info {
    display: block;
  }
  .prd-view-info > div {
    display: block;
    width: auto;
  }
  /* 뷰페이지 :: 이미지 슬라이드 */
  .prd-view-info .prd-img-con {
    border-right: 0;
    border-bottom: 1px solid #e5e5e5;
    padding: 4rem 0;
  }
  /* 뷰페이지 :: 제품정보 */
  .prd-view-info .prd-detail-con .detail-sec {
    padding: 4rem 1.5rem;
  }
  .prd-view-info .prd-detail-con .detail-sec .tit {
    margin-bottom: 3rem;
  }
}
@media all and (max-width: 480px) {
  /* 검색바 */
  .bbs-top-list-box .board-search-box.style-02 {
    width: 100%;
  }
  .intro-top-box .list-box li {
    min-width: 320px;
    letter-spacing: -0.05em;
  }
  /* .case-con-list {
    gap: 5px;
  }
  .case-con-list li {
    height: 55px;
    background-size: 55% !important;
    min-width: 120px;
    max-width: calc(50% - 5px);
  } */
}
