/* particle */
/* Config */
/* Pauls awesome mixin */
/* Styles */

.animation-wrapper {
  opacity: 0.5;
}
.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: 2560px;
}

.particle-1 {
  animation: animParticle 60s linear infinite;
  box-shadow: 0px 0px #fff, 369px 909px #fff, 1579px 2548px #fff,
    403px 1926px #fff, 642px 2182px #fff, 2083px 219px #fff, 1594px 1235px #fff,
    695px 2157px #fff, 142px 2143px #fff, 1939px 750px #fff, 2131px 888px #fff,
    216px 1023px #fff, 81px 1753px #fff, 2394px 357px #fff, 722px 2537px #fff,
    1647px 475px #fff, 1684px 2427px #fff, 140px 585px #fff, 1285px 621px #fff,
    333px 2308px #fff, 1791px 2213px #fff, 801px 2262px #fff, 2275px 1833px #fff,
    702px 1089px #fff, 2174px 1087px #fff, 1597px 1221px #fff, 2250px 867px #fff,
    1091px 2478px #fff, 1406px 1719px #fff, 47px 861px #fff, 1420px 2092px #fff,
    978px 2323px #fff, 1558px 744px #fff, 1099px 1063px #fff, 609px 821px #fff,
    1728px 94px #fff, 2266px 1878px #fff, 1110px 593px #fff, 1448px 1726px #fff,
    1949px 2476px #fff, 1642px 1790px #fff, 1860px 385px #fff,
    1440px 1495px #fff, 1573px 2043px #fff, 1780px 1479px #fff,
    2512px 1736px #fff, 313px 546px #fff, 612px 708px #fff, 1810px 2144px #fff,
    2174px 715px #fff, 485px 1476px #fff, 300px 1814px #fff, 376px 882px #fff,
    1261px 1075px #fff, 1312px 1453px #fff, 2299px 92px #fff, 829px 2196px #fff,
    982px 440px #fff, 527px 245px #fff, 1001px 1047px #fff, 1485px 1213px #fff,
    2184px 591px #fff, 1929px 2133px #fff, 1419px 862px #fff, 1168px 2308px #fff,
    2042px 829px #fff, 163px 1106px #fff, 1700px 258px #fff, 1471px 1761px #fff,
    1593px 2333px #fff, 1390px 1651px #fff, 92px 94px #fff, 1212px 1683px #fff,
    906px 517px #fff, 1232px 176px #fff, 1900px 1916px #fff, 2017px 1342px #fff,
    2260px 192px #fff, 1697px 1225px #fff, 2520px 2102px #fff, 1373px 955px #fff,
    1062px 2208px #fff, 2118px 2045px #fff, 127px 1481px #fff, 511px 1100px #fff,
    1241px 462px #fff, 203px 1773px #fff, 862px 1561px #fff, 386px 1549px #fff,
    29px 1910px #fff, 327px 410px #fff, 531px 922px #fff, 2268px 790px #fff,
    2054px 2444px #fff, 755px 523px #fff, 1981px 461px #fff, 1993px 767px #fff,
    641px 718px #fff, 1698px 957px #fff, 674px 1866px #fff, 139px 940px #fff,
    1375px 1498px #fff, 1692px 243px #fff, 936px 92px #fff, 301px 137px #fff,
    1276px 1986px #fff, 618px 1455px #fff, 1279px 708px #fff, 2331px 1493px #fff,
    681px 1717px #fff, 1204px 935px #fff, 1373px 364px #fff, 27px 2191px #fff,
    1839px 629px #fff, 405px 478px #fff, 1583px 2023px #fff, 778px 2402px #fff,
    2317px 2335px #fff, 2234px 263px #fff, 1632px 2182px #fff,
    2295px 1515px #fff, 1218px 1093px #fff, 762px 1017px #fff,
    1457px 2099px #fff, 963px 173px #fff, 1838px 1827px #fff, 2052px 1789px #fff,
    300px 1098px #fff, 528px 1295px #fff, 533px 1756px #fff, 247px 1034px #fff,
    2391px 1494px #fff, 2425px 2373px #fff, 457px 978px #fff, 284px 1071px #fff,
    997px 1917px #fff, 700px 165px #fff, 1529px 992px #fff, 1206px 1209px #fff,
    455px 1819px #fff, 1159px 578px #fff, 1258px 773px #fff, 1519px 2px #fff,
    2211px 1230px #fff, 1026px 329px #fff, 1292px 1054px #fff, 1882px 617px #fff,
    1521px 523px #fff, 2491px 2258px #fff, 2327px 1354px #fff, 1330px 841px #fff,
    294px 170px #fff, 2019px 1286px #fff, 96px 1474px #fff, 967px 2121px #fff,
    822px 240px #fff, 1158px 1942px #fff, 1657px 768px #fff, 1279px 711px #fff,
    1746px 146px #fff, 2066px 572px #fff, 1685px 1931px #fff, 1780px 1850px #fff,
    2330px 421px #fff, 2246px 2164px #fff, 484px 1522px #fff, 293px 2255px #fff,
    873px 1397px #fff, 1627px 42px #fff, 253px 2106px #fff, 850px 1361px #fff,
    1384px 1992px #fff, 567px 1695px #fff, 2046px 464px #fff, 1155px 1586px #fff,
    1376px 2252px #fff, 269px 967px #fff, 1618px 2317px #fff, 645px 483px #fff,
    1131px 1971px #fff, 1910px 498px #fff, 1383px 1988px #fff, 257px 1107px #fff,
    2063px 629px #fff, 793px 1917px #fff, 1973px 1339px #fff, 1378px 951px #fff,
    1662px 1563px #fff, 798px 889px #fff, 15px 2454px #fff, 1352px 1839px #fff,
    1845px 50px #fff, 576px 559px #fff, 1495px 2509px #fff, 2030px 2376px #fff,
    399px 1568px #fff, 2313px 196px #fff, 527px 1036px #fff, 746px 1729px #fff,
    860px 2418px #fff, 908px 595px #fff, 1988px 992px #fff, 2289px 2024px #fff,
    648px 2345px #fff, 760px 1958px #fff, 1186px 2240px #fff, 2190px 1082px #fff,
    2410px 2013px #fff, 1400px 680px #fff, 314px 1435px #fff, 1498px 1244px #fff,
    2490px 2510px #fff, 142px 1198px #fff, 1459px 1003px #fff, 2029px 73px #fff,
    1931px 328px #fff, 733px 2243px #fff, 858px 1642px #fff, 2429px 1366px #fff,
    1876px 2495px #fff, 724px 1789px #fff, 1177px 2526px #fff,
    1165px 1932px #fff, 73px 1136px #fff, 75px 1527px #fff, 1336px 1083px #fff,
    1170px 1672px #fff, 2166px 1577px #fff, 1638px 1864px #fff,
    2378px 1254px #fff, 607px 388px #fff, 1926px 667px #fff, 730px 1332px #fff,
    596px 1062px #fff, 1354px 77px #fff, 1451px 2366px #fff, 1212px 1063px #fff,
    553px 2151px #fff, 2335px 1241px #fff, 460px 1586px #fff, 604px 1821px #fff,
    1352px 382px #fff, 2026px 2459px #fff, 1583px 709px #fff, 1258px 1655px #fff,
    603px 2428px #fff, 2102px 116px #fff, 814px 171px #fff, 1569px 2071px #fff,
    1069px 986px #fff, 2274px 2431px #fff, 575px 412px #fff, 326px 2054px #fff,
    2213px 1126px #fff, 1844px 151px #fff, 1612px 344px #fff, 2386px 569px #fff,
    1925px 1477px #fff, 214px 1230px #fff, 431px 2252px #fff, 2512px 1909px #fff,
    833px 2106px #fff, 464px 2201px #fff, 1713px 410px #fff, 1670px 1257px #fff,
    217px 60px #fff, 1711px 903px #fff, 2201px 2529px #fff, 1693px 2309px #fff,
    584px 1842px #fff, 2077px 304px #fff, 833px 2196px #fff, 1841px 848px #fff,
    454px 225px #fff, 277px 1613px #fff, 1059px 2410px #fff, 2220px 1089px #fff,
    392px 776px #fff, 366px 1864px #fff, 690px 2538px #fff, 1198px 233px #fff,
    650px 149px #fff, 880px 1338px #fff, 1617px 2497px #fff, 769px 2012px #fff,
    1742px 1426px #fff, 2449px 2506px #fff, 377px 1640px #fff, 533px 2134px #fff,
    540px 788px #fff, 1944px 1840px #fff, 114px 859px #fff, 1208px 1369px #fff,
    668px 693px #fff, 978px 690px #fff, 1635px 504px #fff, 1589px 2463px #fff,
    738px 196px #fff, 1140px 1737px #fff, 2463px 442px #fff, 2511px 831px #fff,
    2126px 2534px #fff, 939px 2424px #fff, 1319px 1227px #fff,
    2362px 1255px #fff, 430px 1331px #fff, 1352px 38px #fff, 1797px 1640px #fff,
    284px 1141px #fff, 1794px 2462px #fff, 1388px 2032px #fff,
    1488px 1686px #fff, 1370px 1727px #fff, 1988px 2254px #fff,
    2035px 470px #fff, 1323px 2136px #fff, 526px 1979px #fff, 152px 796px #fff,
    1917px 1053px #fff, 2006px 322px #fff, 1246px 1443px #fff,
    1988px 2131px #fff, 1043px 662px #fff, 122px 2147px #fff, 1504px 788px #fff,
    713px 1114px #fff, 399px 2270px #fff, 2069px 567px #fff, 1197px 442px #fff,
    1604px 25px #fff, 1879px 746px #fff, 407px 2229px #fff, 242px 1428px #fff,
    2466px 962px #fff, 466px 2376px #fff, 1966px 1447px #fff, 1069px 1137px #fff,
    2289px 700px #fff, 40px 214px #fff, 108px 243px #fff, 657px 843px #fff,
    1789px 632px #fff, 885px 2262px #fff, 941px 1336px #fff, 1768px 495px #fff,
    1499px 1419px #fff, 2285px 995px #fff, 1983px 171px #fff, 2076px 559px #fff,
    840px 2360px #fff, 121px 2225px #fff, 2308px 282px #fff, 868px 842px #fff,
    453px 691px #fff, 547px 1515px #fff, 2154px 643px #fff, 1373px 24px #fff,
    883px 2089px #fff, 416px 1379px #fff, 750px 1831px #fff, 666px 378px #fff,
    1020px 2486px #fff, 782px 2053px #fff, 640px 2131px #fff, 402px 1083px #fff,
    2058px 545px #fff, 527px 1471px #fff, 2406px 2097px #fff, 2038px 479px #fff,
    1259px 2227px #fff, 1631px 535px #fff, 1469px 1803px #fff, 1561px 491px #fff,
    112px 2193px #fff, 40px 1118px #fff, 1416px 1663px #fff, 551px 1534px #fff,
    1807px 2491px #fff, 2371px 1279px #fff, 631px 919px #fff, 912px 1928px #fff,
    1695px 703px #fff, 2050px 562px #fff, 909px 1942px #fff, 2355px 520px #fff,
    1437px 1858px #fff, 801px 1883px #fff, 1993px 1377px #fff, 847px 758px #fff,
    1694px 2059px #fff, 188px 1572px #fff, 300px 2143px #fff, 2478px 1036px #fff,
    1818px 1386px #fff, 274px 586px #fff, 988px 692px #fff, 1920px 1115px #fff,
    2240px 1258px #fff, 1925px 1939px #fff, 765px 2474px #fff,
    1568px 1212px #fff, 2224px 1383px #fff, 524px 2467px #fff, 363px 26px #fff,
    662px 237px #fff, 388px 1166px #fff, 731px 602px #fff, 1031px 1567px #fff,
    2094px 564px #fff, 742px 823px #fff, 2452px 2079px #fff, 2125px 563px #fff,
    364px 70px #fff, 1346px 1260px #fff, 2416px 158px #fff, 847px 373px #fff,
    2258px 483px #fff, 1581px 475px #fff, 797px 1574px #fff, 1630px 2121px #fff,
    1347px 2539px #fff, 315px 353px #fff, 2126px 638px #fff, 1828px 453px #fff,
    2457px 2452px #fff, 1767px 1107px #fff, 1775px 109px #fff, 788px 2531px #fff,
    196px 708px #fff, 2066px 1824px #fff, 1389px 1996px #fff, 1919px 1662px #fff,
    1476px 2457px #fff, 2055px 301px #fff, 298px 1629px #fff, 2013px 1650px #fff,
    1653px 729px #fff, 1317px 82px #fff, 426px 514px #fff, 95px 47px #fff,
    529px 789px #fff, 2435px 1691px #fff, 1542px 2171px #fff, 758px 2429px #fff,
    766px 164px #fff, 360px 2526px #fff, 675px 132px #fff, 2448px 868px #fff,
    1658px 1482px #fff, 97px 852px #fff, 105px 577px #fff, 341px 196px #fff,
    1804px 2311px #fff, 2205px 37px #fff, 102px 2098px #fff, 1755px 1444px #fff,
    2141px 623px #fff, 2412px 1083px #fff, 1525px 982px #fff, 184px 743px #fff,
    2391px 1109px #fff, 2294px 535px #fff, 740px 483px #fff, 1205px 597px #fff,
    1895px 194px #fff, 322px 1764px #fff, 432px 1320px #fff, 1085px 1961px #fff,
    243px 1746px #fff, 2505px 19px #fff, 506px 2367px #fff, 7px 1568px #fff,
    1569px 1599px #fff, 435px 531px #fff, 803px 1518px #fff, 1854px 1851px #fff,
    2456px 107px #fff, 1546px 238px #fff, 381px 324px #fff, 1605px 408px #fff,
    40px 1694px #fff, 1308px 4px #fff, 2381px 725px #fff, 692px 2120px #fff,
    2438px 729px #fff, 1902px 2093px #fff, 1057px 380px #fff, 1864px 1212px #fff,
    1114px 140px #fff, 1675px 532px #fff, 738px 2503px #fff, 1335px 2203px #fff,
    238px 592px #fff, 1129px 2240px #fff, 2491px 62px #fff, 2470px 506px #fff,
    2248px 684px #fff, 1899px 2461px #fff, 2348px 559px #fff, 661px 806px #fff,
    1906px 418px #fff, 1464px 2353px #fff, 539px 2010px #fff, 175px 1052px #fff,
    1090px 1548px #fff, 2466px 433px #fff, 2047px 2206px #fff, 1411px 360px #fff,
    1776px 1934px #fff, 618px 1002px #fff, 56px 958px #fff, 2393px 2432px #fff,
    1426px 1013px #fff, 72px 1201px #fff, 839px 960px #fff, 2288px 264px #fff,
    1826px 789px #fff, 222px 1111px #fff, 506px 726px #fff, 2360px 2069px #fff,
    1095px 899px #fff, 1373px 886px #fff, 368px 487px #fff, 737px 421px #fff,
    1902px 553px #fff, 1668px 937px #fff, 1925px 1338px #fff, 1636px 2255px #fff,
    1341px 983px #fff, 2557px 901px #fff, 1887px 887px #fff, 92px 2362px #fff,
    1315px 834px #fff, 2312px 1435px #fff, 1449px 939px #fff, 1654px 1531px #fff,
    982px 1014px #fff, 2328px 1236px #fff, 1868px 1526px #fff, 2345px 521px #fff,
    1365px 2336px #fff, 834px 243px #fff, 1411px 713px #fff, 2260px 1853px #fff,
    1376px 1910px #fff, 184px 1795px #fff, 1936px 2493px #fff,
    1480px 1390px #fff, 2446px 467px #fff, 1px 1381px #fff, 1797px 2303px #fff,
    271px 2114px #fff, 880px 1476px #fff, 1843px 1720px #fff, 1304px 613px #fff,
    309px 1763px #fff, 75px 1515px #fff, 1339px 444px #fff, 2360px 2320px #fff,
    716px 2281px #fff, 340px 305px #fff, 1993px 959px #fff, 577px 1379px #fff,
    80px 1379px #fff, 2337px 1121px #fff, 2331px 589px #fff, 1132px 485px #fff,
    118px 1220px #fff, 1272px 189px #fff, 923px 1684px #fff, 2400px 1588px #fff,
    664px 1067px #fff, 2027px 22px #fff, 1661px 49px #fff, 2040px 365px #fff,
    1745px 629px #fff, 2051px 149px #fff, 445px 2448px #fff, 428px 1386px #fff,
    1507px 500px #fff, 1407px 890px #fff, 1682px 1263px #fff, 1624px 518px #fff,
    1238px 2223px #fff, 2399px 815px #fff, 1992px 18px #fff, 1252px 633px #fff,
    450px 1093px #fff, 982px 840px #fff, 2369px 1878px #fff, 1044px 2377px #fff,
    124px 336px #fff, 1389px 1535px #fff, 1823px 1262px #fff, 1741px 632px #fff,
    919px 1335px #fff, 1079px 431px #fff, 2031px 1706px #fff, 940px 549px #fff,
    1391px 1608px #fff, 320px 1216px #fff;
  height: 1px;
  width: 1px;
}

.particle-1:after {
  box-shadow: 0px 0px #fff, 2399px 506px #fff, 969px 1602px #fff,
    611px 2039px #fff, 1806px 287px #fff, 161px 1205px #fff, 472px 2201px #fff,
    475px 628px #fff, 1370px 1808px #fff, 2543px 338px #fff, 1637px 1117px #fff,
    2069px 1700px #fff, 1513px 1872px #fff, 1749px 2351px #fff,
    503px 2311px #fff, 643px 689px #fff, 68px 2251px #fff, 548px 124px #fff,
    49px 1710px #fff, 520px 1794px #fff, 2259px 1391px #fff, 551px 363px #fff,
    466px 189px #fff, 757px 1443px #fff, 1933px 1517px #fff, 1222px 2147px #fff,
    1559px 2074px #fff, 158px 1051px #fff, 2256px 178px #fff, 2444px 1260px #fff,
    2177px 1460px #fff, 2518px 2261px #fff, 232px 2428px #fff, 929px 253px #fff,
    1623px 2365px #fff, 1033px 61px #fff, 1657px 1135px #fff, 2470px 256px #fff,
    53px 2304px #fff, 341px 1560px #fff, 1256px 394px #fff, 731px 1258px #fff,
    1905px 2266px #fff, 1656px 1315px #fff, 33px 2078px #fff, 1248px 2554px #fff,
    1743px 789px #fff, 1812px 625px #fff, 1060px 1292px #fff, 1599px 54px #fff,
    2325px 1796px #fff, 990px 126px #fff, 258px 1035px #fff, 86px 786px #fff,
    932px 726px #fff, 439px 1074px #fff, 1182px 1982px #fff, 644px 986px #fff,
    1806px 1302px #fff, 900px 921px #fff, 56px 1203px #fff, 244px 764px #fff,
    1133px 1832px #fff, 1417px 1366px #fff, 1538px 14px #fff, 236px 1271px #fff,
    2109px 1403px #fff, 2081px 2234px #fff, 930px 1300px #fff, 1828px 179px #fff,
    2010px 2482px #fff, 2276px 1654px #fff, 1034px 1684px #fff, 869px 569px #fff,
    1597px 2208px #fff, 1611px 871px #fff, 2333px 2525px #fff, 624px 184px #fff,
    757px 697px #fff, 1139px 1210px #fff, 1982px 2184px #fff, 536px 1096px #fff,
    846px 1448px #fff, 142px 2285px #fff, 59px 2323px #fff, 1984px 976px #fff,
    2219px 1139px #fff, 2227px 2476px #fff, 369px 2317px #fff, 1790px 93px #fff,
    1472px 53px #fff, 569px 372px #fff, 2538px 807px #fff, 929px 1740px #fff,
    770px 983px #fff, 2292px 1045px #fff, 1044px 1867px #fff, 725px 990px #fff,
    2445px 1684px #fff, 1120px 1014px #fff, 1218px 998px #fff, 361px 2421px #fff,
    2124px 1398px #fff, 863px 2180px #fff, 1936px 1366px #fff, 2300px 317px #fff,
    2003px 452px #fff, 1596px 857px #fff, 379px 382px #fff, 1925px 2253px #fff,
    1088px 121px #fff, 2172px 1636px #fff, 2533px 1440px #fff, 931px 969px #fff,
    325px 1409px #fff, 15px 2544px #fff, 1549px 2475px #fff, 2538px 1388px #fff,
    1643px 355px #fff, 2166px 1466px #fff, 334px 1584px #fff, 1699px 2555px #fff,
    2471px 1274px #fff, 1498px 1595px #fff, 97px 1565px #fff, 1884px 1030px #fff,
    2095px 772px #fff, 305px 1790px #fff, 1857px 2276px #fff, 247px 139px #fff,
    1245px 909px #fff, 1120px 1670px #fff, 1055px 1980px #fff, 165px 355px #fff,
    1406px 457px #fff, 463px 1737px #fff, 1834px 430px #fff, 465px 2390px #fff,
    2342px 17px #fff, 1275px 1504px #fff, 216px 2547px #fff, 2557px 2086px #fff,
    2541px 1031px #fff, 551px 212px #fff, 1875px 73px #fff, 2029px 296px #fff,
    1005px 247px #fff, 2011px 1470px #fff, 2296px 1591px #fff, 2246px 88px #fff,
    1247px 1741px #fff, 785px 248px #fff, 1020px 1037px #fff, 1390px 2400px #fff,
    1878px 2197px #fff, 2290px 669px #fff, 1590px 422px #fff, 1155px 881px #fff,
    1024px 466px #fff, 1482px 2455px #fff, 41px 1592px #fff, 489px 491px #fff,
    872px 1611px #fff, 242px 2438px #fff, 1583px 2207px #fff, 1630px 2141px #fff,
    868px 1074px #fff, 368px 1571px #fff, 1168px 1514px #fff, 1326px 69px #fff,
    449px 2405px #fff, 1784px 2037px #fff, 418px 2426px #fff, 2217px 1941px #fff,
    1066px 1254px #fff, 1062px 359px #fff, 2499px 377px #fff, 2274px 925px #fff,
    912px 1719px #fff, 925px 1797px #fff, 2148px 1048px #fff, 745px 141px #fff,
    2455px 782px #fff, 2428px 2350px #fff, 446px 2136px #fff, 1791px 2031px #fff,
    639px 427px #fff, 1618px 1356px #fff, 730px 1076px #fff, 88px 2533px #fff,
    841px 787px #fff, 1854px 1451px #fff, 1255px 2265px #fff, 1882px 511px #fff,
    1077px 706px #fff, 1323px 1229px #fff, 934px 1596px #fff, 1549px 1696px #fff,
    226px 1312px #fff, 1177px 1669px #fff, 1467px 745px #fff, 2107px 972px #fff,
    305px 2077px #fff, 1723px 1957px #fff, 590px 411px #fff, 774px 2257px #fff,
    780px 1236px #fff, 2433px 476px #fff, 1282px 517px #fff, 2035px 2296px #fff,
    815px 2543px #fff, 1477px 602px #fff, 1199px 2560px #fff, 416px 2272px #fff,
    589px 236px #fff, 1883px 261px #fff, 1218px 2206px #fff, 2544px 926px #fff,
    2198px 2224px #fff, 2310px 360px #fff, 1587px 384px #fff, 1217px 1130px #fff,
    845px 874px #fff, 206px 735px #fff, 1443px 1955px #fff, 1829px 2126px #fff,
    1523px 1979px #fff, 586px 739px #fff, 1072px 1927px #fff, 1782px 587px #fff,
    168px 1746px #fff, 2124px 1885px #fff, 42px 332px #fff, 534px 888px #fff,
    87px 1213px #fff, 297px 493px #fff, 682px 1917px #fff, 2144px 36px #fff,
    1260px 502px #fff, 881px 261px #fff, 261px 936px #fff, 2310px 1816px #fff,
    1868px 899px #fff, 33px 597px #fff, 1121px 1965px #fff, 106px 2357px #fff,
    1025px 1812px #fff, 1398px 878px #fff, 1244px 1219px #fff, 819px 1921px #fff,
    329px 205px #fff, 999px 1400px #fff, 2021px 2096px #fff, 1321px 810px #fff,
    354px 1614px #fff, 1203px 751px #fff, 424px 590px #fff, 1890px 2511px #fff,
    703px 1397px #fff, 1723px 1393px #fff, 98px 1104px #fff, 25px 2454px #fff,
    330px 799px #fff, 341px 1999px #fff, 1954px 1905px #fff, 419px 2218px #fff,
    2042px 1320px #fff, 148px 1502px #fff, 1187px 2350px #fff, 419px 2510px #fff,
    1153px 1724px #fff, 1146px 199px #fff, 898px 426px #fff, 265px 75px #fff,
    1232px 2304px #fff, 1195px 55px #fff, 1931px 125px #fff, 2407px 381px #fff,
    996px 1648px #fff, 2279px 778px #fff, 688px 80px #fff, 2543px 2079px #fff,
    1852px 419px #fff, 1280px 2442px #fff, 2027px 2028px #fff, 22px 1614px #fff,
    750px 1857px #fff, 65px 2559px #fff, 1526px 1645px #fff, 1338px 1797px #fff,
    2444px 670px #fff, 1832px 101px #fff, 2011px 1042px #fff, 961px 1200px #fff,
    1818px 528px #fff, 1474px 1770px #fff, 80px 658px #fff, 2024px 287px #fff,
    1161px 1248px #fff, 2286px 1940px #fff, 2123px 1292px #fff,
    1488px 1488px #fff, 1064px 1248px #fff, 970px 591px #fff, 1505px 202px #fff,
    1501px 1018px #fff, 298px 674px #fff, 325px 1434px #fff, 2531px 266px #fff,
    1922px 1330px #fff, 495px 1411px #fff, 1045px 213px #fff, 2443px 741px #fff,
    2236px 1936px #fff, 2322px 1669px #fff, 184px 1464px #fff,
    1893px 1546px #fff, 128px 881px #fff, 1742px 2508px #fff, 458px 1526px #fff,
    381px 1153px #fff, 2335px 1957px #fff, 2486px 2245px #fff,
    2146px 1201px #fff, 1591px 2553px #fff, 2288px 1342px #fff,
    249px 2238px #fff, 2035px 1142px #fff, 29px 643px #fff, 1538px 2086px #fff,
    902px 1738px #fff, 1613px 675px #fff, 943px 630px #fff, 689px 1562px #fff,
    780px 425px #fff, 1335px 1358px #fff, 1431px 587px #fff, 793px 1760px #fff,
    2219px 1957px #fff, 1645px 1653px #fff, 955px 1072px #fff, 53px 1382px #fff,
    1077px 1902px #fff, 1880px 1719px #fff, 1800px 963px #fff,
    2490px 1782px #fff, 2072px 119px #fff, 1934px 2103px #fff, 1772px 940px #fff,
    1267px 800px #fff, 424px 213px #fff, 865px 1794px #fff, 785px 1670px #fff,
    2495px 1205px #fff, 1330px 44px #fff, 1193px 1359px #fff, 948px 123px #fff,
    794px 1149px #fff, 764px 1409px #fff, 1032px 430px #fff, 1483px 281px #fff,
    2358px 2052px #fff, 329px 1464px #fff, 236px 1103px #fff, 2205px 2348px #fff,
    1892px 1997px #fff, 378px 280px #fff, 1896px 1603px #fff, 685px 2251px #fff,
    115px 750px #fff, 2249px 1759px #fff, 125px 334px #fff, 1915px 798px #fff,
    1455px 1328px #fff, 2177px 2176px #fff, 1396px 95px #fff, 412px 1252px #fff,
    958px 2229px #fff, 1449px 1426px #fff, 1488px 941px #fff, 1672px 2480px #fff,
    917px 1624px #fff, 1330px 1630px #fff, 2348px 1077px #fff, 1010px 561px #fff,
    1377px 887px #fff, 1370px 1979px #fff, 865px 628px #fff, 288px 844px #fff,
    894px 2143px #fff, 1024px 1458px #fff, 664px 2387px #fff, 2407px 63px #fff,
    1952px 2246px #fff, 577px 381px #fff, 804px 2406px #fff, 1387px 1558px #fff,
    2366px 201px #fff, 2553px 111px #fff, 2414px 1913px #fff, 2510px 683px #fff,
    1641px 2525px #fff, 1167px 710px #fff, 1692px 2084px #fff,
    2492px 1983px #fff, 1173px 221px #fff, 1043px 2323px #fff,
    1175px 1277px #fff, 1226px 795px #fff, 2279px 1633px #fff, 884px 895px #fff,
    88px 1645px #fff, 1433px 942px #fff, 127px 993px #fff, 1265px 1579px #fff,
    139px 2465px #fff, 1353px 382px #fff, 876px 512px #fff, 2514px 2176px #fff,
    200px 196px #fff, 902px 1689px #fff, 683px 694px #fff, 1647px 1037px #fff,
    933px 125px #fff, 1757px 2265px #fff, 1068px 2469px #fff, 122px 971px #fff,
    1294px 463px #fff, 132px 2407px #fff, 2175px 2497px #fff, 1899px 226px #fff,
    2214px 215px #fff, 2473px 1384px #fff, 2012px 748px #fff, 1440px 903px #fff,
    1404px 292px #fff, 2362px 2272px #fff, 812px 108px #fff, 2463px 1737px #fff,
    515px 682px #fff, 1265px 1605px #fff, 706px 779px #fff, 415px 2342px #fff,
    311px 1936px #fff, 1190px 2147px #fff, 2393px 36px #fff, 1228px 1659px #fff,
    1066px 2254px #fff, 831px 863px #fff, 2341px 788px #fff, 376px 2372px #fff,
    395px 1433px #fff, 1941px 369px #fff, 347px 1967px #fff, 2515px 631px #fff,
    1672px 304px #fff, 662px 2380px #fff, 376px 1524px #fff, 311px 2063px #fff,
    342px 1913px #fff, 2406px 340px #fff, 478px 792px #fff, 1068px 1700px #fff,
    33px 1899px #fff, 766px 62px #fff, 1965px 1914px #fff, 2083px 313px #fff,
    923px 1994px #fff, 1451px 1685px #fff, 1025px 1422px #fff, 573px 2126px #fff,
    2200px 1440px #fff, 2321px 641px #fff, 298px 821px #fff, 1275px 2341px #fff,
    1463px 2425px #fff, 630px 630px #fff, 1059px 1060px #fff, 1780px 160px #fff,
    929px 1760px #fff, 2255px 1886px #fff, 1318px 2477px #fff, 216px 2138px #fff,
    1353px 2081px #fff, 543px 2109px #fff, 242px 2505px #fff, 924px 1660px #fff,
    746px 1156px #fff, 13px 675px #fff, 1547px 1904px #fff, 897px 1243px #fff,
    1339px 1312px #fff, 1301px 2228px #fff, 1028px 1035px #fff,
    1296px 1436px #fff, 699px 568px #fff, 1621px 2531px #fff, 2211px 1684px #fff,
    983px 2093px #fff, 1014px 1804px #fff, 543px 1573px #fff, 1056px 647px #fff,
    876px 1059px #fff, 1804px 80px #fff, 1427px 943px #fff, 831px 248px #fff,
    2105px 2272px #fff, 627px 344px #fff, 898px 836px #fff, 1923px 1945px #fff,
    1325px 1828px #fff, 336px 826px #fff, 2507px 361px #fff, 1297px 2446px #fff,
    765px 2022px #fff, 488px 170px #fff, 242px 514px #fff, 2549px 216px #fff,
    1399px 966px #fff, 1209px 367px #fff, 2278px 1366px #fff, 117px 1594px #fff,
    234px 1268px #fff, 2215px 1455px #fff, 1896px 510px #fff, 873px 247px #fff,
    1275px 1877px #fff, 1046px 2497px #fff, 2166px 2270px #fff,
    2352px 2285px #fff, 2548px 232px #fff, 1741px 2456px #fff,
    1867px 1672px #fff, 90px 902px #fff, 52px 523px #fff, 2557px 2215px #fff,
    81px 1938px #fff, 61px 265px #fff, 901px 365px #fff, 2410px 1464px #fff,
    709px 1966px #fff, 2549px 1441px #fff, 595px 348px #fff, 200px 1732px #fff,
    1250px 1206px #fff, 1428px 2460px #fff, 1846px 773px #fff, 931px 882px #fff,
    2035px 1294px #fff, 850px 1803px #fff, 550px 2159px #fff, 435px 1155px #fff,
    1643px 2412px #fff, 1264px 1292px #fff, 474px 291px #fff, 1736px 2483px #fff,
    912px 829px #fff, 850px 226px #fff, 1138px 2510px #fff, 563px 566px #fff,
    2151px 1321px #fff, 1110px 577px #fff, 2024px 1542px #fff, 1336px 697px #fff,
    1225px 1676px #fff, 511px 1408px #fff, 337px 2139px #fff, 2px 2439px #fff,
    1995px 2059px #fff, 2313px 1700px #fff, 502px 2250px #fff, 1337px 697px #fff,
    1909px 1555px #fff, 164px 1060px #fff, 1832px 1121px #fff,
    1492px 1795px #fff, 2450px 409px #fff, 1471px 1184px #fff,
    1380px 1356px #fff, 47px 2216px #fff, 395px 2466px #fff, 257px 1123px #fff,
    89px 2058px #fff, 228px 738px #fff, 1563px 2392px #fff, 545px 1896px #fff,
    1611px 1751px #fff, 56px 183px #fff, 1099px 890px #fff, 262px 1475px #fff,
    821px 719px #fff, 2186px 1425px #fff, 314px 1051px #fff, 1697px 1377px #fff,
    1426px 635px #fff, 2291px 632px #fff, 2022px 1359px #fff, 119px 1889px #fff,
    174px 1086px #fff, 1275px 1689px #fff, 1387px 1827px #fff;
  height: 1px;
  width: 1px;
}

.particle-2 {
  animation: animParticle 120s linear infinite;
  box-shadow: 0px 0px #fff, 1023px 404px #fff, 1745px 835px #fff,
    1364px 881px #fff, 1800px 1695px #fff, 1647px 1662px #fff, 159px 1621px #fff,
    371px 885px #fff, 459px 361px #fff, 1824px 404px #fff, 1342px 1410px #fff,
    2200px 1262px #fff, 950px 935px #fff, 2519px 1533px #fff, 1410px 1333px #fff,
    1599px 870px #fff, 721px 724px #fff, 1732px 403px #fff, 1144px 497px #fff,
    336px 341px #fff, 1182px 627px #fff, 121px 1601px #fff, 2158px 461px #fff,
    1667px 1347px #fff, 1466px 1705px #fff, 2081px 1960px #fff,
    1228px 1770px #fff, 511px 1973px #fff, 758px 1486px #fff, 38px 1369px #fff,
    2023px 780px #fff, 2332px 1731px #fff, 2316px 768px #fff, 1940px 2451px #fff,
    2493px 328px #fff, 69px 214px #fff, 1326px 2402px #fff, 451px 114px #fff,
    335px 2119px #fff, 1779px 1546px #fff, 1473px 1662px #fff,
    1289px 2395px #fff, 602px 1213px #fff, 1622px 648px #fff, 2378px 48px #fff,
    299px 938px #fff, 1568px 844px #fff, 1977px 939px #fff, 1848px 493px #fff,
    2304px 2419px #fff, 41px 1875px #fff, 855px 2108px #fff, 138px 1706px #fff,
    376px 10px #fff, 2126px 1624px #fff, 1359px 1746px #fff, 2464px 2198px #fff,
    2488px 1082px #fff, 397px 2507px #fff, 775px 1210px #fff, 1953px 185px #fff,
    97px 2534px #fff, 517px 1154px #fff, 492px 136px #fff, 592px 729px #fff,
    1890px 2399px #fff, 56px 1888px #fff, 2159px 578px #fff, 1666px 1325px #fff,
    1675px 821px #fff, 1010px 1427px #fff, 2036px 2332px #fff,
    1557px 1457px #fff, 1802px 1334px #fff, 531px 2212px #fff, 2332px 113px #fff,
    2479px 987px #fff, 1894px 382px #fff, 303px 365px #fff, 1753px 1685px #fff,
    908px 1415px #fff, 1720px 1686px #fff, 1502px 286px #fff, 1295px 1057px #fff,
    1446px 708px #fff, 2166px 866px #fff, 578px 1165px #fff, 2244px 768px #fff,
    631px 364px #fff, 2246px 262px #fff, 2317px 826px #fff, 1719px 1189px #fff,
    1044px 1957px #fff, 2103px 2422px #fff, 1773px 927px #fff,
    2503px 1454px #fff, 1815px 2265px #fff, 251px 1066px #fff, 227px 394px #fff,
    490px 2343px #fff, 1134px 281px #fff, 186px 1371px #fff, 433px 672px #fff,
    1666px 679px #fff, 1093px 247px #fff, 446px 2337px #fff, 1760px 1705px #fff,
    217px 1739px #fff, 259px 91px #fff, 2056px 2240px #fff, 353px 470px #fff,
    1721px 372px #fff, 381px 2126px #fff, 1964px 306px #fff, 545px 1696px #fff,
    1968px 906px #fff, 2372px 2105px #fff, 2479px 1926px #fff, 623px 880px #fff,
    2482px 2359px #fff, 450px 831px #fff, 935px 1262px #fff, 2232px 1228px #fff,
    477px 2162px #fff, 307px 470px #fff, 767px 1165px #fff, 2255px 260px #fff,
    1581px 2312px #fff, 1509px 550px #fff, 729px 416px #fff, 1702px 1560px #fff,
    1904px 918px #fff, 2143px 2025px #fff, 1902px 1651px #fff, 820px 993px #fff,
    945px 1051px #fff, 2205px 1936px #fff, 1483px 735px #fff, 2517px 715px #fff,
    2178px 305px #fff, 1084px 2419px #fff, 576px 702px #fff, 820px 2243px #fff,
    1441px 1859px #fff, 2355px 1607px #fff, 2412px 1789px #fff,
    1540px 2004px #fff, 906px 139px #fff, 1744px 711px #fff, 800px 2403px #fff,
    1257px 1011px #fff, 2109px 985px #fff, 1282px 585px #fff, 2160px 1254px #fff,
    370px 1518px #fff, 793px 733px #fff, 2329px 1586px #fff, 1380px 66px #fff,
    1267px 1100px #fff, 1831px 1676px #fff, 1599px 43px #fff, 2061px 1324px #fff,
    1212px 952px #fff, 1757px 339px #fff, 1841px 1949px #fff, 743px 389px #fff,
    763px 1823px #fff, 2552px 1504px #fff, 1623px 2441px #fff, 374px 1902px #fff,
    1436px 168px #fff, 2481px 1832px #fff, 1702px 2206px #fff, 627px 1179px #fff,
    1285px 443px #fff, 689px 1052px #fff, 1383px 1168px #fff, 1636px 304px #fff,
    2556px 1955px #fff, 36px 2150px #fff, 2437px 2242px #fff, 2559px 812px #fff,
    2438px 506px #fff, 1120px 994px #fff, 1053px 2537px #fff, 1010px 1572px #fff,
    479px 812px #fff, 1951px 393px #fff, 368px 56px #fff, 125px 2152px #fff,
    131px 932px #fff, 1659px 1266px #fff, 1130px 103px #fff, 1810px 1747px #fff,
    1680px 921px #fff, 1661px 342px #fff, 2307px 1330px #fff, 1764px 272px #fff,
    911px 274px #fff, 2527px 422px #fff, 2116px 1460px #fff;
  height: 2px;
  width: 2px;
}

.particle-2:after {
  box-shadow: 0px 0px #fff, 1755px 73px #fff, 1029px 2332px #fff,
    1989px 1494px #fff, 2225px 2237px #fff, 947px 516px #fff, 1169px 778px #fff,
    169px 41px #fff, 1877px 16px #fff, 2456px 1400px #fff, 437px 1542px #fff,
    380px 903px #fff, 374px 2443px #fff, 348px 2245px #fff, 394px 634px #fff,
    1459px 2324px #fff, 2020px 382px #fff, 429px 1230px #fff, 1220px 114px #fff,
    328px 1092px #fff, 1479px 2142px #fff, 1078px 1730px #fff, 327px 34px #fff,
    676px 892px #fff, 1055px 2134px #fff, 1336px 2546px #fff, 339px 1840px #fff,
    651px 2470px #fff, 1923px 1863px #fff, 2430px 747px #fff, 2122px 2555px #fff,
    2517px 573px #fff, 1326px 2074px #fff, 310px 521px #fff, 2388px 335px #fff,
    1618px 393px #fff, 1744px 1071px #fff, 171px 1703px #fff, 2374px 998px #fff,
    120px 540px #fff, 2032px 631px #fff, 2166px 1674px #fff, 1580px 1698px #fff,
    1994px 536px #fff, 1216px 1495px #fff, 82px 984px #fff, 804px 1590px #fff,
    888px 2222px #fff, 350px 1690px #fff, 1532px 1517px #fff, 375px 586px #fff,
    2079px 1058px #fff, 294px 1689px #fff, 1124px 5px #fff, 424px 1283px #fff,
    1205px 102px #fff, 586px 1023px #fff, 1967px 2119px #fff, 1199px 2043px #fff,
    124px 1548px #fff, 228px 1266px #fff, 2308px 1054px #fff, 940px 2221px #fff,
    1417px 749px #fff, 38px 1519px #fff, 1298px 537px #fff, 1485px 347px #fff,
    872px 2284px #fff, 999px 1748px #fff, 2010px 363px #fff, 1249px 1371px #fff,
    551px 442px #fff, 1762px 2488px #fff, 2471px 886px #fff, 2533px 2230px #fff,
    640px 1989px #fff, 863px 335px #fff, 2499px 315px #fff, 973px 2014px #fff,
    2095px 168px #fff, 777px 2441px #fff, 1271px 197px #fff, 99px 1043px #fff,
    2369px 783px #fff, 2052px 749px #fff, 2176px 1679px #fff, 395px 2363px #fff,
    140px 115px #fff, 1719px 308px #fff, 1176px 2417px #fff, 1306px 1929px #fff,
    821px 2187px #fff, 694px 662px #fff, 1641px 215px #fff, 280px 936px #fff,
    1068px 114px #fff, 810px 1329px #fff, 2141px 92px #fff, 1983px 1516px #fff,
    1956px 1882px #fff, 2444px 183px #fff, 968px 2009px #fff, 2352px 234px #fff,
    1576px 1107px #fff, 2385px 2038px #fff, 2369px 982px #fff,
    1928px 2242px #fff, 1299px 1196px #fff, 987px 1555px #fff,
    1528px 1221px #fff, 434px 1473px #fff, 1989px 1664px #fff, 1469px 119px #fff,
    2237px 1595px #fff, 16px 634px #fff, 325px 2159px #fff, 1685px 10px #fff,
    307px 1999px #fff, 1031px 2294px #fff, 1306px 768px #fff, 340px 526px #fff,
    955px 64px #fff, 1105px 575px #fff, 488px 788px #fff, 1446px 756px #fff,
    1809px 1063px #fff, 2035px 2356px #fff, 1658px 1276px #fff,
    809px 1501px #fff, 1953px 1502px #fff, 1401px 57px #fff, 1230px 495px #fff,
    435px 2189px #fff, 98px 175px #fff, 1599px 209px #fff, 1293px 938px #fff,
    2547px 1387px #fff, 389px 2488px #fff, 2188px 525px #fff, 2098px 148px #fff,
    2149px 1867px #fff, 814px 2355px #fff, 1096px 115px #fff, 342px 1601px #fff,
    1117px 106px #fff, 360px 1879px #fff, 2464px 1932px #fff, 837px 751px #fff,
    522px 1194px #fff, 1691px 1221px #fff, 706px 1744px #fff, 1704px 402px #fff,
    890px 452px #fff, 520px 230px #fff, 1893px 1256px #fff, 62px 1131px #fff,
    449px 2271px #fff, 696px 506px #fff, 619px 790px #fff, 2461px 181px #fff,
    1438px 2240px #fff, 87px 1735px #fff, 408px 1031px #fff, 126px 1504px #fff,
    2400px 2169px #fff, 1218px 2330px #fff, 10px 12px #fff, 1427px 131px #fff,
    280px 1694px #fff, 1746px 1101px #fff, 1750px 1860px #fff, 2111px 90px #fff,
    663px 1696px #fff, 2287px 1850px #fff, 1094px 2395px #fff,
    2290px 1109px #fff, 2243px 49px #fff, 2262px 2444px #fff, 59px 1302px #fff,
    474px 1516px #fff, 958px 2475px #fff, 1898px 487px #fff, 1858px 1800px #fff,
    1939px 1337px #fff, 2202px 1347px #fff, 592px 2128px #fff, 1421px 617px #fff,
    456px 2326px #fff, 558px 1974px #fff, 615px 2129px #fff, 684px 330px #fff,
    1663px 2362px #fff, 1354px 1795px #fff, 2281px 333px #fff, 1481px 397px #fff,
    2390px 1784px #fff, 1062px 912px #fff, 1955px 2141px #fff, 775px 1983px #fff,
    747px 1312px #fff, 2034px 110px #fff;
  height: 2px;
  width: 2px;
}

.particle-3 {
  animation: animParticle 180s linear infinite;
  box-shadow: 0px 0px #fff, 2012px 41px #fff, 1403px 1333px #fff,
    238px 1034px #fff, 2178px 969px #fff, 1053px 1446px #fff, 1728px 1721px #fff,
    868px 1748px #fff, 1525px 391px #fff, 173px 1959px #fff, 841px 1522px #fff,
    538px 905px #fff, 1137px 715px #fff, 425px 1012px #fff, 1497px 2115px #fff,
    2455px 130px #fff, 2433px 1542px #fff, 633px 2350px #fff, 1620px 1354px #fff,
    1672px 2450px #fff, 1510px 914px #fff, 1293px 432px #fff, 2120px 754px #fff,
    425px 2403px #fff, 2408px 1944px #fff, 1271px 1343px #fff,
    1139px 1666px #fff, 1389px 1098px #fff, 470px 1194px #fff, 1543px 781px #fff,
    1936px 1386px #fff, 408px 250px #fff, 754px 46px #fff, 322px 2287px #fff,
    465px 1478px #fff, 2016px 410px #fff, 393px 276px #fff, 320px 6px #fff,
    2197px 567px #fff, 1680px 1472px #fff, 431px 2403px #fff, 1332px 520px #fff,
    1542px 85px #fff, 1087px 1013px #fff, 673px 361px #fff, 945px 578px #fff,
    621px 2232px #fff, 1461px 2093px #fff, 277px 2068px #fff, 2407px 169px #fff,
    179px 379px #fff, 1329px 2098px #fff, 1935px 1891px #fff, 631px 1569px #fff,
    1512px 1273px #fff, 1810px 321px #fff, 288px 1756px #fff, 1893px 234px #fff,
    169px 53px #fff, 2007px 690px #fff, 232px 1697px #fff, 1091px 228px #fff,
    335px 392px #fff, 1144px 1935px #fff, 1465px 469px #fff, 666px 1606px #fff,
    785px 2069px #fff, 1926px 2050px #fff, 838px 1822px #fff, 1336px 1709px #fff,
    621px 149px #fff, 1475px 1525px #fff, 1038px 2036px #fff, 1177px 380px #fff,
    1264px 13px #fff, 2477px 2251px #fff, 668px 1969px #fff, 577px 2350px #fff,
    1577px 540px #fff, 53px 2131px #fff, 612px 378px #fff, 1956px 510px #fff,
    1848px 1616px #fff, 2268px 588px #fff, 903px 962px #fff, 1791px 1052px #fff,
    1639px 114px #fff, 1783px 1773px #fff, 2285px 1955px #fff, 1979px 767px #fff,
    1904px 2144px #fff, 338px 1037px #fff, 1415px 827px #fff, 2204px 2159px #fff,
    450px 1380px #fff, 1183px 1705px #fff, 1414px 2188px #fff, 678px 1250px #fff,
    2010px 1944px #fff, 632px 1517px #fff, 2022px 1024px #fff;
  height: 3px;
  width: 3px;
}

.particle-3:after {
  box-shadow: 0px 0px #fff, 1073px 318px #fff, 2134px 1798px #fff,
    1980px 30px #fff, 422px 834px #fff, 1314px 1162px #fff, 932px 675px #fff,
    288px 1223px #fff, 1560px 1575px #fff, 325px 300px #fff, 1946px 1732px #fff,
    2301px 1028px #fff, 1283px 2382px #fff, 2374px 1286px #fff, 670px 595px #fff,
    1456px 1993px #fff, 1686px 1817px #fff, 318px 403px #fff, 1689px 2377px #fff,
    1236px 615px #fff, 949px 2054px #fff, 2317px 565px #fff, 1697px 67px #fff,
    869px 1809px #fff, 337px 2041px #fff, 1258px 1004px #fff, 2412px 229px #fff,
    2357px 605px #fff, 110px 584px #fff, 971px 1458px #fff, 1183px 1374px #fff,
    2055px 108px #fff, 2448px 1286px #fff, 131px 1133px #fff, 490px 1153px #fff,
    1284px 2487px #fff, 1343px 1462px #fff, 658px 186px #fff, 505px 1238px #fff,
    2281px 899px #fff, 827px 470px #fff, 500px 1359px #fff, 412px 934px #fff,
    2397px 994px #fff, 2532px 2055px #fff, 291px 1273px #fff, 614px 150px #fff,
    1752px 260px #fff, 1056px 1330px #fff, 1484px 2149px #fff,
    2070px 2406px #fff, 663px 577px #fff, 2485px 863px #fff, 1295px 298px #fff,
    1342px 1419px #fff, 2363px 2416px #fff, 760px 1668px #fff, 2279px 689px #fff,
    2121px 1935px #fff, 650px 604px #fff, 1602px 102px #fff, 1022px 125px #fff,
    2107px 733px #fff, 649px 1197px #fff, 2463px 1370px #fff, 2538px 2463px #fff,
    2037px 1194px #fff, 172px 127px #fff, 560px 40px #fff, 1474px 2266px #fff,
    2097px 2489px #fff, 2364px 806px #fff, 1581px 257px #fff, 798px 908px #fff,
    2250px 1653px #fff, 955px 1149px #fff, 914px 303px #fff, 1130px 418px #fff,
    22px 1532px #fff, 2380px 361px #fff, 496px 483px #fff, 1666px 2161px #fff,
    1538px 65px #fff, 190px 1372px #fff, 474px 1436px #fff, 1716px 462px #fff,
    1862px 807px #fff, 2469px 1232px #fff, 2418px 1577px #fff, 2205px 700px #fff,
    133px 1895px #fff, 2366px 599px #fff, 588px 2060px #fff, 1797px 2255px #fff,
    1790px 1171px #fff, 1231px 513px #fff, 1192px 843px #fff, 1105px 2058px #fff,
    1009px 1086px #fff, 1604px 1048px #fff, 924px 2559px #fff;
  height: 3px;
  width: 3px;
}

.particle-4 {
  animation: animParticle 600s linear infinite;
  box-shadow: 0px 0px #fff, 2232px 2416px #fff, 576px 1379px #fff,
    1687px 1409px #fff, 1536px 543px #fff, 1502px 2043px #fff,
    2299px 1797px #fff, 1236px 2094px #fff, 2027px 1816px #fff,
    1737px 811px #fff, 6px 2557px #fff, 1339px 2127px #fff, 692px 2159px #fff,
    2492px 2442px #fff, 189px 1687px #fff, 2542px 901px #fff, 427px 1934px #fff,
    803px 1241px #fff, 2152px 342px #fff, 712px 2126px #fff, 2049px 1186px #fff,
    537px 509px #fff, 1959px 2320px #fff, 1476px 1920px #fff, 14px 1125px #fff,
    1059px 1122px #fff, 591px 1592px #fff, 937px 1223px #fff, 153px 829px #fff,
    1832px 875px #fff, 2449px 1014px #fff, 1206px 1012px #fff,
    1030px 1351px #fff, 1541px 1669px #fff, 2539px 354px #fff,
    1911px 2483px #fff, 1342px 1828px #fff, 1625px 595px #fff,
    1197px 1975px #fff, 380px 1196px #fff, 376px 820px #fff, 2480px 2551px #fff,
    1218px 2153px #fff, 269px 743px #fff, 325px 2548px #fff, 1810px 148px #fff,
    2191px 1941px #fff, 392px 145px #fff, 2372px 1228px #fff, 852px 1725px #fff,
    1248px 1460px #fff, 1207px 2344px #fff, 1614px 1123px #fff,
    451px 1103px #fff, 2006px 1373px #fff, 42px 1544px #fff, 495px 1834px #fff,
    116px 1348px #fff, 1633px 305px #fff, 1753px 1241px #fff, 1620px 856px #fff,
    2394px 1696px #fff, 538px 22px #fff, 2319px 585px #fff, 348px 2097px #fff,
    1190px 2292px #fff, 2281px 35px #fff, 2041px 304px #fff, 441px 622px #fff,
    1665px 257px #fff, 1790px 1993px #fff, 430px 542px #fff, 725px 1206px #fff,
    2226px 767px #fff, 2118px 1786px #fff, 508px 829px #fff, 286px 1752px #fff,
    1320px 1859px #fff, 1730px 2092px #fff, 1557px 342px #fff,
    1410px 1085px #fff, 1676px 304px #fff, 2391px 1707px #fff, 273px 1999px #fff,
    158px 2316px #fff, 1712px 1857px #fff, 959px 140px #fff, 1417px 1314px #fff,
    2305px 1673px #fff, 1499px 679px #fff, 2291px 1712px #fff,
    2456px 1702px #fff, 1410px 516px #fff, 1788px 2253px #fff, 914px 1452px #fff,
    94px 369px #fff, 811px 1931px #fff, 1796px 2418px #fff, 185px 580px #fff,
    339px 1655px #fff, 32px 1684px #fff, 272px 2077px #fff, 2344px 2399px #fff,
    624px 1713px #fff, 845px 118px #fff, 1438px 373px #fff, 537px 518px #fff,
    926px 1238px #fff, 755px 1371px #fff, 1856px 403px #fff, 1993px 1971px #fff,
    1648px 68px #fff, 1318px 727px #fff, 1963px 316px #fff, 2372px 2453px #fff,
    177px 2182px #fff, 1739px 795px #fff, 716px 2309px #fff, 558px 1775px #fff,
    671px 2055px #fff, 2509px 770px #fff, 1692px 2201px #fff, 2076px 2253px #fff,
    298px 1543px #fff, 1738px 1467px #fff, 693px 1302px #fff, 1756px 1671px #fff,
    1638px 2335px #fff, 2474px 1398px #fff, 1029px 1509px #fff, 107px 752px #fff,
    900px 2441px #fff, 2317px 686px #fff, 1456px 1086px #fff, 1946px 1697px #fff,
    170px 267px #fff, 2125px 1353px #fff, 2221px 1560px #fff, 921px 192px #fff,
    2112px 1609px #fff, 688px 1700px #fff, 942px 123px #fff, 397px 169px #fff,
    814px 1376px #fff, 1334px 1395px #fff, 2029px 2044px #fff, 334px 1385px #fff,
    1884px 1490px #fff, 1863px 361px #fff, 425px 76px #fff, 1614px 2188px #fff,
    2526px 2236px #fff, 381px 2545px #fff, 1746px 68px #fff, 967px 1009px #fff,
    1622px 2402px #fff, 1116px 1523px #fff, 1706px 1206px #fff,
    717px 1767px #fff, 596px 422px #fff, 390px 173px #fff, 1426px 563px #fff,
    2014px 602px #fff, 1742px 2235px #fff, 2272px 1079px #fff,
    1048px 1929px #fff, 1212px 2000px #fff, 647px 2464px #fff, 90px 1259px #fff,
    629px 1039px #fff, 2450px 1972px #fff, 1917px 1836px #fff,
    1041px 1157px #fff, 317px 55px #fff, 2367px 1240px #fff, 1082px 1491px #fff,
    1105px 732px #fff, 947px 2116px #fff, 906px 1816px #fff, 454px 1886px #fff,
    834px 1680px #fff, 2171px 999px #fff, 998px 2017px #fff, 951px 434px #fff,
    1282px 69px #fff, 401px 929px #fff, 1472px 49px #fff, 1516px 1848px #fff,
    489px 1106px #fff, 2517px 1306px #fff, 2181px 857px #fff, 1659px 1526px #fff,
    1079px 1274px #fff, 354px 233px #fff, 1597px 1558px #fff, 473px 1381px #fff,
    783px 2327px #fff, 1820px 1616px #fff, 2347px 383px #fff, 2163px 1141px #fff,
    479px 828px #fff, 2399px 1952px #fff, 2406px 2541px #fff, 2075px 342px #fff,
    2463px 447px #fff, 924px 2474px #fff, 2112px 2280px #fff, 1671px 1484px #fff,
    1037px 884px #fff, 1496px 134px #fff, 1488px 771px #fff, 1670px 706px #fff,
    587px 1489px #fff, 899px 765px #fff, 1876px 1191px #fff, 2210px 2029px #fff,
    351px 1802px #fff, 1879px 1950px #fff, 1498px 1682px #fff,
    1627px 2074px #fff, 776px 2377px #fff, 2514px 1580px #fff, 380px 2142px #fff,
    367px 1027px #fff, 1933px 201px #fff, 1725px 686px #fff, 1902px 1965px #fff,
    816px 2088px #fff, 769px 1785px #fff, 1855px 130px #fff, 1589px 605px #fff,
    2239px 1105px #fff, 1521px 2312px #fff, 595px 1625px #fff, 1084px 448px #fff,
    1259px 2159px #fff, 1922px 2481px #fff, 148px 1824px #fff, 488px 540px #fff,
    450px 1678px #fff, 1188px 1805px #fff, 110px 225px #fff, 1297px 303px #fff,
    2424px 2481px #fff, 2560px 2176px #fff, 1279px 401px #fff, 2395px 841px #fff,
    1872px 1939px #fff, 287px 253px #fff, 1013px 1447px #fff, 1311px 2534px #fff,
    1580px 1725px #fff, 937px 489px #fff, 1571px 2445px #fff, 1150px 2361px #fff,
    151px 1250px #fff, 1173px 234px #fff, 2387px 2089px #fff, 1973px 2185px #fff,
    1621px 1727px #fff, 1095px 2065px #fff, 830px 148px #fff, 385px 905px #fff,
    1928px 826px #fff, 877px 908px #fff, 1559px 38px #fff, 1495px 2037px #fff,
    525px 479px #fff, 2085px 283px #fff, 2396px 13px #fff, 2031px 1357px #fff,
    1467px 1101px #fff, 1052px 1756px #fff, 1050px 1918px #fff, 396px 952px #fff,
    2207px 2058px #fff, 1282px 1361px #fff, 1654px 2118px #fff,
    1830px 580px #fff, 1771px 2293px #fff, 686px 1916px #fff, 2101px 123px #fff,
    1435px 1646px #fff, 1557px 1938px #fff, 2459px 526px #fff, 426px 2311px #fff,
    766px 1951px #fff, 904px 1898px #fff, 844px 1342px #fff, 660px 541px #fff,
    1221px 554px #fff, 2512px 1091px #fff, 2270px 1538px #fff,
    1174px 1363px #fff, 1676px 1901px #fff, 1846px 1319px #fff, 701px 453px #fff,
    1485px 1323px #fff, 1885px 1002px #fff, 2271px 2505px #fff,
    159px 1721px #fff, 1832px 242px #fff, 1019px 406px #fff, 1123px 2528px #fff,
    707px 1352px #fff, 2352px 2372px #fff, 1840px 2541px #fff, 1583px 910px #fff,
    1799px 2481px #fff, 2427px 516px #fff, 1206px 1436px #fff, 2360px 97px #fff,
    838px 1629px #fff, 1652px 932px #fff, 901px 2483px #fff, 2347px 702px #fff,
    1726px 1363px #fff, 2064px 152px #fff, 636px 242px #fff, 408px 2347px #fff,
    2326px 2345px #fff, 2457px 1000px #fff, 2033px 990px #fff,
    1906px 1979px #fff, 1416px 976px #fff, 1295px 939px #fff, 58px 2202px #fff,
    1898px 616px #fff, 496px 2033px #fff, 2117px 162px #fff, 1725px 1401px #fff,
    546px 905px #fff, 1605px 2061px #fff, 2225px 1614px #fff, 2170px 1342px #fff,
    236px 841px #fff, 1322px 1011px #fff, 1045px 1186px #fff, 2429px 1499px #fff,
    1046px 2072px #fff, 2519px 2116px #fff, 422px 876px #fff, 212px 902px #fff,
    745px 1355px #fff, 449px 486px #fff, 2449px 945px #fff, 624px 164px #fff,
    885px 1022px #fff, 369px 87px #fff, 627px 2532px #fff, 723px 53px #fff,
    565px 1263px #fff, 1422px 169px #fff, 1021px 1688px #fff, 728px 148px #fff,
    89px 1316px #fff, 2402px 541px #fff, 869px 2107px #fff, 302px 1983px #fff,
    2318px 2444px #fff, 2424px 855px #fff, 1438px 28px #fff, 2447px 654px #fff,
    1795px 566px #fff, 1775px 470px #fff, 200px 1221px #fff, 375px 1993px #fff,
    546px 1553px #fff, 707px 826px #fff, 326px 1605px #fff, 584px 264px #fff,
    1521px 120px #fff, 421px 2066px #fff, 657px 763px #fff, 1741px 803px #fff,
    301px 723px #fff, 894px 2528px #fff, 709px 258px #fff, 397px 1880px #fff,
    18px 1406px #fff, 1743px 1286px #fff, 852px 1177px #fff, 1235px 2311px #fff,
    457px 1424px #fff, 1052px 268px #fff, 1989px 515px #fff, 2542px 117px #fff,
    2164px 1422px #fff, 2527px 1287px #fff, 1631px 2414px #fff,
    979px 2194px #fff, 2203px 2217px #fff, 2057px 1894px #fff,
    2224px 2226px #fff, 2422px 374px #fff, 157px 1677px #fff, 2212px 1689px #fff,
    848px 1778px #fff, 1135px 148px #fff, 1649px 415px #fff, 2080px 2023px #fff;
  height: 1px;
  width: 1px;
}

.particle-4:after {
  box-shadow: 0px 0px #fff, 1913px 179px #fff, 2265px 184px #fff,
    1651px 198px #fff, 1533px 1513px #fff, 1895px 2515px #fff, 1016px 104px #fff,
    106px 2213px #fff, 1071px 2389px #fff, 430px 614px #fff, 1268px 1858px #fff,
    2283px 2351px #fff, 1882px 2484px #fff, 2434px 565px #fff,
    2245px 2207px #fff, 2488px 2046px #fff, 946px 1686px #fff, 74px 645px #fff,
    704px 2463px #fff, 2078px 2375px #fff, 597px 636px #fff, 905px 2367px #fff,
    2465px 656px #fff, 200px 300px #fff, 1597px 888px #fff, 1061px 2250px #fff,
    1572px 1874px #fff, 433px 92px #fff, 1278px 381px #fff, 784px 333px #fff,
    713px 1852px #fff, 1885px 1290px #fff, 1081px 1746px #fff, 2305px 538px #fff,
    2223px 1943px #fff, 223px 1938px #fff, 1256px 1324px #fff, 1204px 95px #fff,
    497px 72px #fff, 1198px 1850px #fff, 246px 1210px #fff, 1726px 1359px #fff,
    2220px 2247px #fff, 339px 2289px #fff, 1879px 864px #fff, 405px 1720px #fff,
    2007px 890px #fff, 820px 1036px #fff, 1219px 2385px #fff, 477px 2276px #fff,
    1241px 2536px #fff, 1362px 1255px #fff, 1178px 2105px #fff,
    1370px 147px #fff, 1433px 519px #fff, 1329px 502px #fff, 1632px 1551px #fff,
    2556px 1249px #fff, 419px 1839px #fff, 1945px 1890px #fff, 1079px 459px #fff,
    1694px 1570px #fff, 1500px 1700px #fff, 1678px 1372px #fff,
    2559px 254px #fff, 879px 258px #fff, 1708px 1047px #fff, 1223px 1667px #fff,
    1093px 1463px #fff, 1787px 1277px #fff, 2024px 2144px #fff,
    1359px 415px #fff, 1459px 395px #fff, 1261px 470px #fff, 794px 1972px #fff,
    930px 1054px #fff, 1938px 2122px #fff, 2392px 254px #fff, 971px 1242px #fff,
    1062px 1075px #fff, 1838px 827px #fff, 509px 1345px #fff, 443px 2329px #fff,
    2408px 1082px #fff, 1265px 2327px #fff, 1512px 1971px #fff,
    2171px 1265px #fff, 750px 548px #fff, 1335px 474px #fff, 813px 1051px #fff,
    2551px 1851px #fff, 2267px 611px #fff, 2350px 651px #fff, 1567px 2129px #fff,
    661px 1956px #fff, 2176px 1634px #fff, 1949px 2444px #fff, 85px 324px #fff,
    1859px 1282px #fff, 2425px 451px #fff, 1086px 112px #fff, 2183px 1406px #fff,
    2002px 969px #fff, 1229px 609px #fff, 1121px 2189px #fff, 1712px 304px #fff,
    1510px 1155px #fff, 869px 582px #fff, 2033px 1554px #fff, 938px 1378px #fff,
    2176px 1934px #fff, 2199px 2294px #fff, 1944px 978px #fff, 769px 1939px #fff,
    1943px 688px #fff, 919px 158px #fff, 1279px 1593px #fff, 2303px 2103px #fff,
    1587px 632px #fff, 153px 2499px #fff, 327px 2508px #fff, 234px 1635px #fff,
    829px 1255px #fff, 1936px 2353px #fff, 2520px 1209px #fff, 1684px 749px #fff,
    132px 391px #fff, 1px 2459px #fff, 1884px 2462px #fff, 2329px 485px #fff,
    214px 1510px #fff, 2057px 430px #fff, 961px 388px #fff, 450px 241px #fff,
    2168px 1633px #fff, 2008px 1940px #fff, 82px 1763px #fff, 2319px 2026px #fff,
    302px 221px #fff, 822px 470px #fff, 2078px 796px #fff, 1576px 269px #fff,
    256px 1542px #fff, 1050px 1967px #fff, 1764px 66px #fff, 1306px 494px #fff,
    1078px 2124px #fff, 1378px 1247px #fff, 1175px 1657px #fff,
    1695px 416px #fff, 45px 1119px #fff, 1339px 2076px #fff, 1222px 922px #fff,
    234px 1653px #fff, 2062px 2551px #fff, 950px 325px #fff, 884px 1841px #fff,
    1475px 863px #fff, 815px 1216px #fff, 2366px 1550px #fff, 724px 309px #fff,
    1501px 2555px #fff, 2475px 858px #fff, 752px 2029px #fff, 866px 1072px #fff,
    1778px 1822px #fff, 2348px 2237px #fff, 276px 283px #fff, 2054px 1008px #fff,
    2164px 2083px #fff, 2388px 1581px #fff, 1174px 699px #fff, 94px 1758px #fff,
    552px 656px #fff, 255px 679px #fff, 537px 2028px #fff, 2371px 440px #fff,
    2482px 1115px #fff, 546px 2413px #fff, 1729px 396px #fff, 1703px 1103px #fff,
    1355px 775px #fff, 1626px 236px #fff, 363px 2475px #fff, 2453px 224px #fff,
    501px 2241px #fff, 1364px 1567px #fff, 1066px 909px #fff, 844px 2364px #fff,
    163px 1797px #fff, 2441px 1598px #fff, 1041px 1006px #fff,
    1677px 2227px #fff, 2519px 451px #fff, 1532px 2399px #fff, 836px 1628px #fff,
    1926px 2212px #fff, 1782px 1923px #fff, 518px 1981px #fff,
    2087px 2036px #fff, 2227px 1643px #fff, 543px 1279px #fff,
    2146px 2275px #fff, 1550px 1674px #fff, 114px 1227px #fff, 405px 1183px #fff,
    2039px 127px #fff, 542px 2406px #fff, 1176px 1914px #fff, 618px 367px #fff,
    1038px 2018px #fff, 994px 1392px #fff, 1439px 754px #fff, 2289px 1644px #fff,
    459px 2282px #fff, 288px 682px #fff, 1822px 793px #fff, 1433px 1596px #fff,
    2551px 2107px #fff, 2035px 509px #fff, 344px 2174px #fff, 1178px 310px #fff,
    588px 1086px #fff, 1599px 537px #fff, 1204px 889px #fff, 1632px 2493px #fff,
    1047px 963px #fff, 1173px 1695px #fff, 1408px 1605px #fff,
    2251px 2501px #fff, 846px 98px #fff, 2297px 632px #fff, 263px 2129px #fff,
    1786px 1180px #fff, 1124px 528px #fff, 656px 2550px #fff, 1711px 1683px #fff,
    200px 1176px #fff, 1956px 1818px #fff, 623px 550px #fff, 1438px 1227px #fff,
    1187px 484px #fff, 99px 916px #fff, 2137px 1298px #fff, 1376px 725px #fff,
    2305px 548px #fff, 1675px 286px #fff, 713px 276px #fff, 1638px 1296px #fff,
    599px 1839px #fff, 814px 1907px #fff, 2393px 1930px #fff, 858px 979px #fff,
    139px 1317px #fff, 936px 548px #fff, 1502px 632px #fff, 866px 1669px #fff,
    41px 2073px #fff, 1526px 279px #fff, 1416px 1849px #fff, 541px 1990px #fff,
    1992px 2470px #fff, 471px 1098px #fff, 1197px 121px #fff, 133px 964px #fff,
    116px 1864px #fff, 2098px 2466px #fff, 510px 1160px #fff, 718px 1393px #fff,
    1330px 268px #fff, 939px 1784px #fff, 2388px 78px #fff, 857px 810px #fff,
    1624px 2194px #fff, 173px 1938px #fff, 2208px 638px #fff, 473px 203px #fff,
    1366px 99px #fff, 2124px 2546px #fff, 1466px 261px #fff, 1180px 2316px #fff,
    1525px 1869px #fff, 94px 647px #fff, 1111px 1542px #fff, 741px 2469px #fff,
    1471px 2045px #fff, 1365px 563px #fff, 495px 556px #fff, 661px 1121px #fff,
    310px 2514px #fff, 1170px 1801px #fff, 221px 1246px #fff, 1661px 2082px #fff,
    2217px 316px #fff, 1156px 797px #fff, 613px 808px #fff, 87px 2522px #fff,
    1856px 1479px #fff, 1861px 2294px #fff, 2424px 1465px #fff,
    273px 1529px #fff, 1822px 1845px #fff, 734px 876px #fff, 2331px 816px #fff,
    487px 35px #fff, 1166px 2346px #fff, 682px 969px #fff, 864px 1374px #fff,
    1140px 2336px #fff, 1968px 732px #fff, 918px 1560px #fff, 1202px 1204px #fff,
    114px 1810px #fff, 414px 783px #fff, 1002px 2345px #fff, 275px 1214px #fff,
    2282px 2307px #fff, 1789px 2078px #fff, 1754px 308px #fff, 203px 1634px #fff,
    935px 1593px #fff, 1382px 1942px #fff, 1918px 2300px #fff, 844px 2053px #fff,
    851px 378px #fff, 2359px 2496px #fff, 138px 1800px #fff, 1051px 560px #fff,
    1965px 760px #fff, 1776px 213px #fff, 153px 1474px #fff, 2127px 374px #fff,
    498px 41px #fff, 446px 2011px #fff, 16px 2329px #fff, 985px 1245px #fff,
    1642px 2053px #fff, 1357px 783px #fff, 2104px 1183px #fff, 186px 990px #fff,
    2283px 385px #fff, 763px 1460px #fff, 1732px 1441px #fff, 173px 1530px #fff,
    701px 1601px #fff, 1122px 1276px #fff, 1252px 1688px #fff, 2520px 801px #fff,
    1229px 1257px #fff, 389px 2088px #fff, 712px 1943px #fff, 399px 289px #fff,
    428px 2333px #fff, 1725px 2541px #fff, 1788px 2448px #fff, 1897px 143px #fff,
    720px 2343px #fff, 1305px 2487px #fff, 236px 294px #fff, 1116px 727px #fff,
    866px 1463px #fff, 608px 149px #fff, 714px 34px #fff, 1147px 1626px #fff,
    1552px 165px #fff, 830px 2427px #fff, 840px 1279px #fff, 1181px 424px #fff,
    2229px 2329px #fff, 1545px 354px #fff, 1268px 477px #fff, 495px 1289px #fff,
    548px 1588px #fff, 1295px 2522px #fff, 402px 1314px #fff, 274px 637px #fff,
    820px 1847px #fff, 122px 1936px #fff, 2346px 593px #fff, 2416px 802px #fff,
    615px 532px #fff, 187px 2258px #fff, 2388px 1818px #fff, 2312px 1982px #fff,
    2099px 666px #fff, 1930px 1186px #fff, 792px 2262px #fff, 369px 822px #fff,
    1851px 839px #fff, 503px 2484px #fff, 83px 1146px #fff, 2406px 375px #fff,
    2498px 96px #fff, 1200px 1774px #fff, 1510px 503px #fff, 1506px 2440px #fff,
    268px 1763px #fff, 181px 1830px #fff, 2535px 1223px #fff, 909px 881px #fff,
    652px 666px #fff;
  height: 1px;
  width: 1px;
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2560px);
  }
}
.page-wrapper {
  text-align: center;
  color: #fff;
  z-index: 2;
}

/**
 * CODEPEN PROMOTION
 * unrelated to particle system
 */
.codepen-promo:active,
.codepen-promo:hover,
.codepen-promo:link,
.codepen-promo:visited {
  bottom: 30px;
  display: block;
  position: absolute;
  right: 30px;
  width: 200px;
  z-index: 99;
}

.codepen-promo-image {
  width: 100%;
}

.unsplash-promo:active,
.unsplash-promo:hover,
.unsplash-promo:link,
.unsplash-promo:visited {
  bottom: 30px;
  display: block;
  position: absolute;
  left: 30px;
  width: 400px;
  z-index: 99;
  color: #666;
  text-decoration: none;
} /*# sourceMappingURL=main.css.map */
