@charset "UTF-8";
/* common */
:root {
  --color-base: #111;
  --color-dark: #333;
  --color-tab: #262626;
  --color-date: #4c4c4c;
  --color-gray: #fafafa;
  --color-gray2: #b3b3b3;
  --color-gray3: #fcfcfc;
  --color-gray4: #f3f3f3;
  --color-black: #1a1a1a;
  --color-text: #777;
  --color-text2: #aaa;
  --color-point: #12b2b2;
  --color-point2: #068080;
  --color-point3: #1ca59c;
  --color-deep: #182b8c;
  --color-blue: #0077d9;
  --color-yellow: #ffea00;
  --color-line: #e6e6e6;
  --color-line2: #dedede;
  --color-line3: #dbdbdb;
  --color-line4: #e0e0e0;
  --color-line5: #ccc;
}

/* 연혁 */
.history_intro {
  margin-bottom: clamp(35px, 9.722vw * 0.5, 50px);
}
.history_intro .bg {
  background-image: url(../../images/img/page_intro_history.jpg);
}
.is-mobile .history_intro .bg {
  background-image: url(../../images/img/page_intro_history_mo.webp);
}
.history_tit {
  font-size: var(--font-50);
  font-weight: var(--font-bd);
  line-height: 1;
  text-align: center;
  margin-bottom: 40px;
  margin-top: clamp(47px, 13.056vw * 0.6, 72px);
}
.history_content {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: clamp(50px, 13.889vw * 0.6, 92px);
  padding-top: 55px;
}
.history_content .line {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  background: var(--color-line5);
}
.history_content .line .bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: var(--color-point2);
  transform-origin: 0 0;
  z-index: 1;
  transition: height 0.2s ease;
}
.history_content .item {
  position: relative;
  z-index: 2;
}
.history_content .year {
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: var(--color-point2);
}
.history_content .month {
  font-size: var(--font-18-16);
  position: relative;
}
.history_content .date,
.history_content .txt {
  letter-spacing: -0.025em;
}
.history_content .date {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-black);
}
.history_content .txt {
  font-size: 16px;
  color: var(--color-text);
  padding-top: 5px;
}
.history_content .txt .sub {
  font-size: 0.889em;
}
.history_content .img {
  width: 280px;
  margin-top: var(--space-20-15);
  margin-bottom: 5px;
  border: 1px solid var(--color-line4);
}
.history_content .month::before {
  content: "";
  display: block;
  width: 9px;
  aspect-ratio: 1;
  background: var(--color-line5);
  position: absolute;
  left: 0;
  top: 0.95em;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.history_content .month.on::before {
  background: var(--color-point2);
}
.history_content .item > .month:not(:first-of-type) {
  margin-top: clamp(18px, 5vw * 0.6, 49px);
}
.history_content .item:last-of-type > .month:last-of-type::after {
  content: "";
  display: block;
  width: 5px;
  position: absolute;
  left: -2px;
  top: 1em;
  bottom: -2px;
  background: #fff;
  z-index: 1;
}

.history_content .anchor {
  margin-top: calc(var(--space-60) * -1);
}

@media (min-width: 993px) {
  .history_content .month {
    display: flex;
    gap: 30px;
    position: relative;
    padding-left: 45px;
    line-height: 1.556;
  }
  .history_content .year {
    position: absolute;
    left: -45px;
    top: 0;
    transform: translate(-100%, -12%);
  }
  .history_content .item {
    flex: 0 0 auto;
    width: 50%;
  }
  .history_content .item:nth-child(odd) {
    margin-left: auto;
  }
  .history_content .item:nth-child(even) {
    text-align: right;
    padding-left: 0;
  }
  .history_content .item:nth-child(even) .year {
    left: auto;
    right: -45px;
    transform: translate(100%, -12%);
  }
  .history_content .item:nth-child(even) .month {
    justify-content: flex-end;
    padding-right: 45px;
    padding-left: 0;
  }
  .history_content .item:nth-child(even) .date {
    order: 2;
  }
  .history_content .item:nth-child(even) .img {
    margin-left: auto;
  }
  .history_content .item:nth-child(even) .month::before {
    left: auto;
    right: 0;
    transform: translate(50%, -50%);
  }
}

@media (max-width: 992px) {
  .history_tit {
    margin-bottom: 1.306em;
  }
  .history_content {
    padding-top: 0;
  }
  .history_content .line {
    left: 4px;
  }
  .history_content .month {
    line-height: 1.5;
    padding-left: 23px;
    gap: 1.75em;
  }
  .history_content .month::before {
    transform: translate(0, -50%);
  }
  .history_content .item:first-of-type .month:first-of-type::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 9px;
    background: #fff;
    top: -60px;
    bottom: 10px;
  }
  .history_content .txt {
    padding-left: 5.438em;
  }
  .history_content .txt .sub {
    font-size: 0.875em;
    line-height: 1.572;
  }
  .history_content .date {
    position: absolute;
    left: 23px;
  }
  .history_content .year {
    margin-left: 23px;
    margin-bottom: 0.654em;
  }
  .history_content .img {
    width: calc(89% + 5.438em);
    max-width: 280px;
    margin-left: -5.438em;
    margin-bottom: 1.313em;
  }
  .history_content .item > .month:last-of-type .img {
    margin-bottom: 0;
  }
}
